@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
}

.container {
  height: 500px;
  width: 50%;
  display: flex;
  margin: auto;

  background: rgba(45, 176, 224, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(45, 176, 224, 1)),
    color-stop(100%, rgba(96, 40, 168, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

.main {
    height: 100vh;
  background:   rgba(96, 40, 168, 1) 100%;
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);

  display: flex;
align-items: center;
}


.info {
  background: url("../src/image/img.mount.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: #484747;
  width: 50%;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  padding:100px 25px 25px;
  text-align: center;
  color: #000;
}


 .input {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-bottom: solid 2px #113a65;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px; /* Расстояние между полем ввода и кнопкой */
    font-size: 20px;
    outline: none;
    border-top: 2px solid #17416e;
    border-bottom: 2px solid #113a65;
    border-right: 2px solid #113a65;
  }

  /* .form {
   
    */

  }
  
  

  .input::-webkit-input-placeholder {
    color: #103a65;
  }
  
  .input::-moz-placeholder {
    color: #103a65;
  }
  
  .button {
    border: 2px solid #103a65;
    border-bottom: 4px solid #103a65;
    padding: 8px 20px;
    margin: 0; /* Убираем margin для кнопки, если не нужно дополнительное расстояние */
    border-radius: 2px;
    cursor: pointer;
    background-color: #235d9c;
    color: #f1e7e7;
    outline: none !important;
  }
  

  button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 2px;
  }
  
  button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px;
  }
  
.info h2 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}

.infoWeath {
  width: 60%;
  font-size: 20px;
  color: #fff;
}
.error {
  color: #041f3c;
  font-weight: bold;
}
